* {
		font-family: 'Roboto', sans-serif;
	}
	body{
		background-color: #f5f5f5;
		background-image: url(https://hades217.github.io/images/main_bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		margin-left:40px;
		margin-right:40px;
	}
	.greenWords{
		color:#2eca7f;
	}
	.site__headerContent{
		margin-top:30px;
		margin-left:auto;
		margin-right:auto;
		width:100%;
		height:80px;
		background-color: transparent;
		max-width: 1032px;
		text-align: center;
	}
	.site__headerTittle{
		font-size:1.2rem;
		position: relative;
		float:left;
	}
	.site__headerNav{
		display:flex;
		flex-direction: row;
		position:relative;
		float:right;
	}
	.site_headerNavList{
		display:inline-block;
		text-align: center;
		padding-left: 10px;
		padding-right:10px;
      		opacity: 0.6;
	}
	.site__headerNavLink{
		color:rgb(165, 165, 165);
      		transition: all 0.3s ease-in-out;
	}
    	.site__headerNavLink::after{
		content: "";
		border-bottom: 3px solid #2eca7f;
		width: 0px;
		display: block;
		margin: auto;
		margin-top: 3px;
		transition: width 0.5s ease-in-out;
    	}
	.site__headerNavLink:hover{
		opacity: 1;
      		text-decoration: none;
      		color: black;
	}
    	.site__headerNavLink:hover::after{
     		width: 30px;
   	}
    	.navClicked {
      		color: black;
    	}
    	.navClicked:after{
		content: "";
		border-bottom: 3px solid #2eca7f;
		width: 30px;
		display: block;
		margin: auto;
		margin-top: 3px;
  	}
	.home{
		max-width: 1032px;
		width:100%;
		margin-left: auto;
		margin-right:auto;
	}
	.home__header{
		background-color: #2eca7f;
		padding:30px;
		margin-bottom: 30px;
		border-radius: 10px 10px 0 0;
		display: flex;
		flex-wrap: wrap;
		box-shadow: 3px 3px 10px gray;
	}
	.home__headerImage{
		border: 5px solid white;
		margin-bottom:-80px;
		max-width: 280px;
		transition: all 0.6s ease-in-out;
		align-content: center;
		box-shadow: 2px 2px 2px lightgray;
	}
	.home__headerImage:hover{
		opacity: 97%;
		box-shadow: 5px 8px 10px gray;
		transform:translateY(-10px);
		cursor: pointer;
	}
	img{
		align-content: center;
		max-width: 100%;
		height:auto;
		vertical-align:bottom;
	}
	.home__header-right__main{
		text-align: center;
		color:white;
		margin-top:30px;
	}
	.home__header-right__main>h1{
		font-size: 3.7rem;
		font-weight: 700;
	}
	.home__header-right__dynamicRoleDisplay{
		font-weight: 600;
		font-size: 1.2rem;
	}
	.home__header-right__links{
		display:flex
		flex-wrap:wrap;
		text-align:center;
		margin-top:20px;
	}
	i{
		border: 10px solid white;
		border-radius: 50%;
		background-color: white;
	}
	.home__content{
		padding-top:80px;
		margin-top: -30px;
		border-radius: 0 0 10px 10px;
		display:flex;
		flex-wrap:wrap;
		background-color: white;
		padding-bottom: 40px;
		box-shadow: 3px 3px 10px gray;
	}
	.aboutMe{
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 10px;
	}
	.aboutMeContent{
		font-size: 0.8rem;
		font-weight: 400;
		margin-left: 10px;
	}
	.listDotFree{
		list-style: none;
	}
	.home__contentTittle{
		min-width:120px;
		text-align: left;
		margin-left:-50px;
		display:inline-flex;
		font-size: 0.9rem;
	}
	.home__contentValue{
		text-align: left;
		color: gray;
	}
	.linkColor{
		color: #2eca7f;
		text-decoration: blue;
		transition: all 0.3s ease-in-out;
	}
	.linkColor:hover{
		color:orange;
		text-decoration: none;
	}
    	.resume {
		max-width: 1032px;
		width: 100%;
		margin: auto;
	}
	.resume__header {
		background-color: #2eca7f;
		padding-top: 25px;
		color: white;
		text-align: center;
		border-radius: 10px 10px 0 0;
		height: 100px;
		box-shadow: 3px 3px 10px gray;
	}
	.resume__content {
		background-color: white;
		border-radius: 0 0 10px 10px;
		padding: 15px;
		box-shadow: 3px 3px 10px gray;
	}
	.resume__tittle {
		font-size: 1.2rem;
		font-weight: 400;
		padding-top: 10px;
		padding-left: 5px;
	}
	.resume__education {
		margin: 15px;
	}
	.resume__topBlockLeftLine {
		border-left: 3px solid gray;
	}
	.resume__introductionBlock {
		box-shadow: 1px 1px 2px gray;
		border: 0px solid black;
		border-left: 3px solid #2eca7f;
		padding: 15px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-left: 20px;
		margin-top: 10px;
	}
	.resume__introductionBlock:before {
		content:"";
		border: 2px solid #2eca7f;
		border-radius: 50%;
		display:inline-block;
		height: 15px;
		width: 15px;
		position: relative;
		background-color: white;
		right: 47px;
		top: 20px;
	}
	.resume__introductionBlock:after {
		content:"__";
		display:inline-block;
		color:#2eca7f;
		position:relative;
		right: 32px;
		bottom: 153px;
	}
	.resume__introductionBlock:hover {
		box-shadow: 1px 1px 5px black;
	}
	.resume__introductionBlock:hover::before {
		content:"";
		border: 2px solid #2eca7f;
		border-radius: 50%;
		display:inline-block;
		height: 19px;
		width: 19px;
		position: relative;
		background-color: #2eca7f;
		right: 49px;
		top: 22px;
	}
	.resume__highlightPeriod {
		color: #2eca7f;
      		font-size: 0.9rem;
	}
	.resume__uniNameCompanyName {
		opacity: 0.5;
     		font-size: 0.9em;
	}
    	.resume__introduction{
      		font-size: 0.8rem;
      		padding-top: 8px;
    	}
	.resume__uniNameCompanyName:before {
		content:"|  "
	}
	.resume__powerBlock {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.resume__powerContainer {
		border: 2px solid lightgray;
		width: 95%;
		height:13px;
	}
	.resume__powerLineWebDesign {
		border: 3px solid #2eca7f;
		background: #2eca7f;
		height: 10px;
		width: 85%;
		animation: powerUpWeb 1s;
	}
	.resume__powerLineGraphicDesign {
		border: 3px solid #2eca7f;
		background: #2eca7f;
		height: 10px;
		width: 70%;
		animation: powerUpGraphic 1s;
	}
	.resume__powerLinePrintDesign {
		border: 3px solid #2eca7f;
		background: #2eca7f;
		height: 10px;
		width: 80%;
		animation: powerUpPrint 1s;
	}
	.resume__powerLineHTML5 {
		border: 3px solid #2eca7f;
		background: #2eca7f;
		height: 10px;
		width: 95%;
		animation: powerUpHTML 1s;
	}
	.resume__powerLineCSS3 {
		border: 3px solid #2eca7f;
		background: #2eca7f;
		height: 10px;
		width: 90%;
		animation: powerUpCSS 1s;
	}
	.resume__powerLineJQ{
		border: 3px solid #2eca7f;
		background: #2eca7f;
		height: 10px;
		width: 65%;
		animation: powerUpJQ 1s;
	}
	@keyframes powerUpWeb {
		from {
			width:1%
		}
			to {
				width:85%
			}
	}
	@keyframes powerUpGraphic {
		from {
			width:1%
		}
			to {
				width:70%
			}
	}
	@keyframes powerUpPrint {
		from {
			width:1%
		}
			to {
				width:80%
			}
	}
	@keyframes powerUpHTML {
		from {
			width:1%
		}
			to {
				width:95%
			}
	}
	@keyframes powerUpCSS {
		from {
			width:1%
		}
			to {
				width:90%
			}
	}
	@keyframes powerUpJQ {
		from {
			width:1%
		}
			to {
				width:65%
			}
	}
   	.hide {
     		display: none;
    	}